extends layout

block contenido
  h2 Lista de Pedidos
  if pedidos.length
    ul
      each pedido in pedidos
        li
        label Nombre:
          strong= pedido.cliente
          br
          label Pedido:
          span= pedido.pedido 
          br
          label Cantidad:
          span= pedido.cantidad
          br
          label Tipo de pedido:
          span= pedido.tipo
          br
          label Estado del pedido:
          span= pedido.estado
          br
          label Asignación del pedido:
          span= pedido.asignacion
          br
          a(href=`/pedidos/modificar_pedido/${pedido._id}`) Modificar pedido
          br
          a(href=`/pedidos/estado_pedido/${pedido._id}`) Cambiar estado de pedido
          br
          a(href=`/pedidos/asignar_pedido/${pedido._id}`) Asignar pedido
          br
          form(method="POST", action=`/pedidos/eliminar/${pedido._id}?_method=DELETE`)
            button(type="submit") Eliminar

          br
          
  else
    p No hay pedidos registrados.
